.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
}

.header-container ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 16px;
    color: #7780A1;

}

.header-container ul li{    
    cursor: pointer;
    width: 76px;
    height: 20px;
    font-weight: 600;
    line-height: 20.16px;
    letter-spacing: 0.2px;
}

.header-container button{
    border: 2px solid #262840;
    background-color: transparent;
    cursor: pointer;
    width: 117px;
    height: 52px;
    color: #ffffff;
    border-radius: 12px;
    font-weight: 600;
    margin-right: 10px;
    padding: 16px, 24px, 16px,24px;
}

.header-container button.account{
    background-color: #3c3acd;
    color: #f7f5f5;
    font-weight: 600;
    border: none;
    width: 145px;
    height: 52px;
    border-radius: 12px;
    padding: 16px, 24px, 16px,24px;
    gap: 10px;
}
.header-container button:hover{ 
    background-color: #ffffff;
    color: #000000;
}

.header-container button.account:hover{
    background-color: #ffffff;
    color: #000000;
}

.header-container img{
    cursor: pointer;
    width: 213px;
    height: 34px;
    top: 42px;
    left : 48px;
}